.character-name {
  padding-left: 1em;
  height: 3rem;
  font-size: 1.5rem;

  border: 1px solid;
  line-height: 3rem;
}

.skill-checkbox-row {
  border: 1px solid;

  display: grid;
  grid-template-columns: 3fr 1fr;
}

.skill-label {
  padding-left: 3em;
  min-height: 2.5rem;
  font-size: 1.2rem;
  line-height: 2.5rem;
}

.skill-checkbox-row:hover, .skill-checkbox-row:hover {
  color: black;
  background-color: #f0f0f0;
}

input {
  height: 2.5rem;
}
